Repository apiman/apiman, pull requests merged in 2021-11, with the labels that each got.

#1570 fix(manager-api-jpa): include API version in query fetching API definition
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/JpaStorage.java
Labels: V: Apiman 2

#1569 fix(manager-api-jpa): include API version in query fetching API definition
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/JpaStorage.java
Labels: V: Apiman 3

#1620 refactor(ui): add IDs to sidebar menu and dash-groups on dash page
  manager/ui/war/plugins/api-manager/html/dash.html
  manager/ui/war/plugins/api-manager/html/headers/community.include
Labels: T: Enhancement, C: Manager UI, V: Apiman 3

#1622 test(ui): fix sidebar interaction in cypress test
  manager/ui/war/cypress/integration/Basic_Functionality.js
  manager/ui/war/cypress/support/commands.js
Labels: ci, test, C: Manager UI, V: Apiman 3

#1627 fix(manager-api): disable event dispatch during import to prevent event & notification replay
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/blobstore/SqlBlobStoreService.java
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/model/outbox/TransactionalOutboxService.java
  manager/api/rest-impl/src/main/java/io/apiman/manager/api/events/EventService.java
  manager/api/rest-impl/src/main/java/io/apiman/manager/api/service/ImportExportService.java
Labels: V: Apiman 3

#1628 build(dev-deps): update webpack, webpack-bundle-analyzer, & webpack-dev-server
  manager/ui/war/package.json
  manager/ui/war/yarn.lock
Labels: dependency, javascript, V: Apiman 3

#1643 fix(manager-api-jpa): orgId must be part of #getApiDefinition select to ensure uniqueness
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/JpaStorage.java
Labels: V: Apiman 2

#1644 fix(manager-api-jpa): orgId must be part of #getApiDefinition select to ensure uniqueness
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/JpaStorage.java
Labels: V: Apiman 3
