Repository apiman/apiman, pull requests merged in 2022-02, with the labels that each got.

#1785 fix(ui): modified status label restored by removing self-closing span
  manager/ui/war/plugins/api-manager/html/api/api_entity.include
  manager/ui/war/plugins/api-manager/html/client/client_entity.include
  manager/ui/war/plugins/api-manager/html/plan/plan_entity.include
Labels: C: Manager UI

#1794 build: use maven-wrapper from official apache maven project
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: V: Apiman 2

#1821 build(deps): bump icu4j, swagger java
  parent/pom.xml
Labels: dependency, C: Manager API, V: Apiman 3

#1822 UI dependency rollup
  manager/ui/war/package.json
  manager/ui/war/yarn.lock
Labels: dependency, C: Manager UI, V: Apiman 3

#1826 replace "Opendistro for Elasticsearch" with "Opensearch"
  common/es/src/main/resources-filtered/io/apiman/common/es/util/apiman-es.properties
  parent/pom.xml
  test/common/src/main/java/io/apiman/test/common/es/EsTestUtil.java
Labels: V: Apiman 3
