Repository apiman/apiman, pull requests merged in 2022-06, with the labels that each got.

#2108 test(ui): refactor Cypress testing structure according to new recommended practices
  manager/ui/war/cypress.config.ts
  manager/ui/war/cypress.json
  manager/ui/war/cypress/e2e/Basic_Functionality.js
  manager/ui/war/cypress/support/e2e.js
  manager/ui/war/package.json
  manager/ui/war/yarn.lock
Labels: dependency, javascript, V: Apiman 3

#2126 feat(gateway-engine-core): thread-safe batched non-blocking metrics consumer
  gateway/engine/core/pom.xml
  gateway/engine/core/src/main/java/io/apiman/gateway/engine/metrics/BatchedMetricsConsumer.java
  parent/pom.xml
Labels: V: Apiman 3

#2127 feat(metrics-influxdb): add support for Influx 1.x, including use of an authorization token
  gateway/engine/influxdb/src/main/java/io/apiman/gateway/engine/influxdb/InfluxDb09Driver.java
  gateway/engine/influxdb/src/main/java/io/apiman/gateway/engine/influxdb/InfluxDb09Metrics.java
  gateway/engine/influxdb/src/main/java/io/apiman/gateway/engine/influxdb/InfluxDbMetrics.java
  gateway/engine/influxdb/src/main/java/io/apiman/gateway/engine/influxdb/InfluxDbMetricsOptionsParser.java
  gateway/platforms/servlet/src/main/java/io/apiman/gateway/platforms/servlet/connectors/HttpConnectorFactory.java
Labels: V: Apiman 3

#2120 fix(ui): print error message in modal
  manager/ui/war/plugins/api-manager/html/modals/errorModal.html
  manager/ui/war/plugins/api-manager/ts/api/api-def.ts
  manager/ui/war/plugins/api-manager/ts/modals.ts
  manager/ui/war/plugins/api-manager/ts/rpc.ts
Labels: V: Apiman 3

#2121 fix(ui): remove warning in developer portal tab
  manager/ui/war/plugins/api-manager/html/api/api-devportal.html
  manager/ui/war/plugins/api-manager/html/api/api-plans.html
Labels: V: Apiman 3

#2131 docs(migration): document initial 3.x breaking changes
  docs/modules/migration/pages/migrations.adoc
Labels: docs, V: Apiman 3

#1943 refactor(distro): remove Keycloak Server from WildFly distro
  distro/data/src/main/resources/README.md
  distro/keycloak/pom.xml
  distro/keycloak/src/main/assembly/assembly.xml
  distro/pom.xml
  distro/wildfly/pom.xml
  distro/wildfly/src/main/assembly/overlay.xml
  distro/wildfly/src/main/docker/Dockerfile
  distro/wildfly/src/main/resources/overlay/standalone/configuration/standalone-apiman.xml
  gateway/platforms/war/wildfly8/api/src/main/webapp/WEB-INF/jboss-deployment-structure.xml
  manager/api/war/wildfly8/src/main/webapp/WEB-INF/jboss-deployment-structure.xml
  manager/pom.xml
  manager/sso/keycloak/pom.xml
  parent/pom.xml
  pom.xml
  sso/keycloak/extensions/pom.xml
  sso/keycloak/extensions/src/main/java/io/apiman/manager/sso/keycloak/KeycloakOptsMapShim.java
  sso/keycloak/extensions/src/main/java/io/apiman/manager/sso/keycloak/approval/AccountApprovalOptions.java
  sso/keycloak/extensions/src/main/java/io/apiman/manager/sso/keycloak/approval/AccountApprovalRequiredActionFactory.java
  sso/keycloak/extensions/src/main/java/io/apiman/manager/sso/keycloak/approval/AccountApprovalRequiredActionProvider.java
  sso/keycloak/extensions/src/main/java/io/apiman/manager/sso/keycloak/event/ApimanEventListenerOptions.java
  sso/keycloak/extensions/src/main/java/io/apiman/manager/sso/keycloak/event/ApimanEventListenerProvider.java
  sso/keycloak/extensions/src/main/java/io/apiman/manager/sso/keycloak/event/ApimanEventListenerProviderFactory.java
  sso/keycloak/extensions/src/main/java/io/apiman/manager/sso/keycloak/event/processors/IEventProcessorFactory.java
  sso/keycloak/extensions/src/main/java/io/apiman/manager/sso/keycloak/event/processors/NewUserEventProcessor.java
  sso/keycloak/extensions/src/main/java/io/apiman/manager/sso/keycloak/event/processors/NewUserEventProcessorFactory.java
  sso/keycloak/extensions/src/main/resources/META-INF/jboss-deployment-structure.xml
  sso/keycloak/extensions/src/main/resources/META-INF/services/org.keycloak.authentication.RequiredActionFactory
  sso/keycloak/extensions/src/main/resources/META-INF/services/org.keycloak.events.EventListenerProviderFactory
  sso/keycloak/pom.xml
  sso/keycloak/theme/pom.xml
  sso/keycloak/theme/src/main/resources/META-INF/keycloak-themes.json
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/css/login.css
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/apiman-bg.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/apiman-logo-full.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/apiman-logo-rw.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/favicon.ico
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/favicon.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/feedback-error-arrow-down.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/feedback-error-sign.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/feedback-success-arrow-down.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/feedback-success-sign.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/feedback-warning-arrow-down.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/feedback-warning-sign.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/keycloak-bg.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/keycloak-logo-text.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/resources/img/keycloak-logo.png
  sso/keycloak/theme/src/main/resources/theme/apiman/login/theme.properties
  sso/pom.xml
  tools/server-all/pom.xml
  tools/server-all/src/main/resources/docker/apiman-realm-for-keycloak.json
  tools/server-all/src/main/resources/docker/docker-compose.yml
  tools/server-all/src/main/resources/docker/shutdown.bash
Labels: V: Apiman 3
