Repository apiman/apiman, pull requests merged in 2022-08, with the labels that each got.

#2218 feat(manager-api): use Liquibase to automatically manage application of SQL migrations
  distro/ddl/pom.xml
  distro/ddl/src/main/liquibase/master.xml
  distro/ddl/src/main/resources/liquibase/current/000-apiman-manager-api.db.sequences.changelog.xml
  distro/ddl/src/main/resources/liquibase/current/010-apiman-manager-api.db.tables.changelog.xml
  distro/ddl/src/main/resources/liquibase/current/050-apiman-manager-api.db.data.changelog.xml
  distro/ddl/src/main/resources/liquibase/current/100-apiman-manager-api.db.constraints.changelog.xml
  distro/ddl/src/main/resources/liquibase/current/110-apiman-manager-api.db.unique.constraints.changelog.xml
  distro/ddl/src/main/resources/liquibase/current/200-apiman-manager-api.db.indexes.changelog.xml
  distro/ddl/src/main/resources/liquibase/current/201-add-json-type.changelog.xml
  distro/ddl/src/main/resources/liquibase/current/201-postgres-add-bool-function.xml
  distro/ddl/src/main/resources/liquibase/current/20211002-154432-apiman3-dev-portal-2-initial.changelog.xml
  distro/ddl/src/main/resources/liquibase/current/20211206-add-locale-to-user-profile.xml
  distro/ddl/src/main/resources/liquibase/current/20220228-rework-notification-filtering.xml
  distro/ddl/src/main/resources/liquibase/current/20220330-discoverability.xml
  distro/ddl/src/main/resources/liquibase/current/20220623-explicit-api-plan-order.xml
  distro/ddl/src/main/resources/liquibase/current/discoverability-2022-03-30/triggers.mssql.sql
  distro/ddl/src/main/resources/liquibase/current/discoverability-2022-03-30/triggers.mysql.sql
  distro/ddl/src/main/resources/liquibase/current/discoverability-2022-03-30/triggers.postgres.sql
  distro/ddl/src/main/resources/liquibase/current/liquibase.properties
  distro/ddl/src/main/resources/liquibase/liquibase.properties
  distro/ddl/src/main/resources/liquibase/master.xml
  distro/pom.xml
  distro/wildfly/src/main/resources/overlay/bin/standalone.conf
  distro/wildfly/src/main/resources/overlay/standalone/configuration/standalone-apiman.xml
  gateway/engine/jdbc/src/main/java/io/apiman/gateway/engine/jdbc/JdbcInitializer.java
  manager/api/beans/src/main/java/io/apiman/manager/api/beans/apis/ApiDefinitionBean.java
  manager/api/beans/src/main/java/io/apiman/manager/api/beans/blobs/BlobEntity.java
  manager/api/jpa/pom.xml
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/ApimanH2Dialect.java
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/EntityManagerFactoryAccessor.java
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/JpaDialectMapper.java
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/LiquibaseProducer.java
  manager/api/micro/src/main/java/io/apiman/manager/api/micro/ManagerApiMicroServiceCdiFactory.java
  manager/api/war/src/main/java/io/apiman/manager/api/war/WarCdiFactory.java
  manager/test/api/src/main/java/io/apiman/manager/test/server/ManagerApiTestServer.java
  manager/test/api/src/test/resources/test-plans/approvals-testPlan.xml
  parent/pom.xml
Labels: V: Apiman 3

#2242 refactor(common-logging): remove `Reflections` library, replace with `classgraph` library
  common/logging/core/pom.xml
  common/logging/core/src/main/java/io/apiman/common/logging/ApimanLoggerFactoryRegistry.java
  parent/pom.xml
Labels: T: Bug, V: Apiman 3, SC: Logging

#2243 refactor(common-logging): remove remnants of `slf4j`
  common/auth/pom.xml
  common/auth/src/main/java/io/apiman/common/auth/AuthTokenUtil.java
  common/logging/pom.xml
  common/logging/slf4j/pom.xml
  common/logging/slf4j/src/main/java/io/apiman/common/logging/slf4j/Slf4jLoggerFactory.java
  common/logging/slf4j/src/main/java/io/apiman/common/logging/slf4j/Slf4jLoggerImpl.java
  docs/modules/development/pages/Plugins.adoc
  gateway/engine/hazelcast/pom.xml
  gateway/engine/jdbc/pom.xml
  gateway/engine/redis/pom.xml
  gateway/engine/storage-common/pom.xml
  gateway/engine/storage-common/src/main/java/io/apiman/gateway/engine/storage/component/AbstractCacheStoreComponent.java
  gateway/engine/storage-common/src/main/java/io/apiman/gateway/engine/storage/component/AbstractSharedStateComponent.java
  gateway/platforms/war/micro/pom.xml
  gateway/platforms/war/pom.xml
  gateway/platforms/war/tomcat8/api/pom.xml
  gateway/platforms/war/tomcat8/gateway/pom.xml
  gateway/test/pom.xml
  gateway/test/src/test/java/io/apiman/gateway/test/junit/GatewayRestTester.java
  gateway/test/src/test/java/io/apiman/gateway/test/junit/vertx3/Vertx3GatewayEsServerFactory.java
  manager/api/es/pom.xml
  manager/api/jdbc/pom.xml
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/AbstractJpaStorage.java
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/JpaUtil.java
  manager/api/micro/pom.xml
  manager/api/war/tomcat8/pom.xml
  manager/ui/war/pom.xml
  manager/ui/war/src/main/java/io/apiman/manager/ui/server/servlets/ConfigurationServlet.java
  manager/ui/war/src/main/java/io/apiman/manager/ui/server/servlets/TokenRefreshServlet.java
  manager/ui/war/tomcat8/pom.xml
  manager/ui/war/wildfly8/src/main/webapp/WEB-INF/web.xml
  pom.xml
  test/common/pom.xml
Labels: T: Refactor, C: Manager API, V: Apiman 3, SC: Logging

#2214 fix(manager-api): add isBlank check to `definitionUrl`
  manager/api/rest-impl/src/main/java/io/apiman/manager/api/service/ApiService.java
Labels: V: Apiman 3

#2031 fix(ui): only show remove button if removal is possible
  manager/ui/war/plugins/api-manager/html/directives/policyList.html
  manager/ui/war/plugins/api-manager/ts/directives.ts
  manager/ui/war/plugins/api-manager/ts/plan/plan-policies.ts
Labels: V: Apiman 3

#2284 fix(manager-api-jpa): parse filter number into same numeric data type as target field
  manager/api/jpa/src/main/java/io/apiman/manager/api/jpa/AbstractJpaStorage.java
  manager/test/api/src/test/resources/test-plan-data/searching/queries/apis/013_query-integer-field-issue-2283.resttest
  manager/test/api/src/test/resources/test-plans/searching-testPlan.xml
Labels: V: Apiman 3

#2286 fix(manager-ui-war): force KeyCloakLogoutServlet to use backend URL
  manager/ui/war/pom.xml
  manager/ui/war/src/main/java/io/apiman/manager/ui/server/kc/DeploymentWithLogoutViaBackend.java
  manager/ui/war/src/main/java/io/apiman/manager/ui/server/kc/KeyCloakLogoutServlet.java
  manager/ui/war/wildfly8/src/main/webapp/WEB-INF/jboss-deployment-structure.xml
Labels: T: Bug, V: Apiman 3

#2288 feat(gateway-vertx): auto-resolve well-known data from Keycloak
  gateway/platforms/vertx3/vertx3/src/main/java/io/apiman/gateway/platforms/vertx3/api/auth/KeycloakOAuthFactory.java
Labels: T: Enhancement, V: Apiman 3, C: Gateway, Sponsored-Contribution
